<!DOCTYPE html>
<html lang="en">
  <body>
    <main>
      <div class="big-wrapper light">
        <div class="showcase-area">
          <div class="container">
            <div class="left">
              <div class="big-title">
                <h1>Welcome to,<br />companyName</h1>
              </div>
              <p class="text">
                Are you looking for fast effecient delivery? look no further
                because Cloudy has got you covered. Contact us at 07606060606 on
                <i class="fa fa-whatsapp" aria-hidden="true"></i> for an
                excellent service!
              </p>
              <div class="cta">
                <a routerLink="/login" class="btn">Get started</a>
              </div>
            </div>

            <div class="right">
              <img
                src="../../../assets/In no time-cuate (1).png"
                alt="Person Image"
                class="person"
              />
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>

